.skills__items {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
}


@media screen and (max-width: 930px) {
  .skills__items {
    width: 80%;
    grid-template-columns: repeat(auto-fill, 150px);
  }

}

@media screen and (max-width: 630px) {
  .skills__items {
    width: 80%;
    grid-template-columns: repeat(auto-fill, 130px);
  }

}

@media screen and (max-width: 540px) {
  .skills__items {
    width: 80%;
    grid-template-columns: repeat(auto-fill, 100px);
  }

}

@media screen and (max-width: 430px) {
  .skills__items {
    width: 80%;
    grid-template-columns: repeat(auto-fill, 80px);
  }

}

@media screen and (max-width: 350px) {
  .skills__items {
    width: 60%;
    grid-template-columns: repeat(auto-fill, 80px);
  }

}