.contact__mail {
  font-size: 18px;
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
  color: #2BE080;
}

@media screen and (max-width: 850px) {
  .contact__mail {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .contact__mail {
    width: 80%;
  }

}