.header__menu-toggler {
  cursor: pointer;
  display: none;
}



.fa-bars:before {
  content: "\f0c9";
  color: white;
  font-size: 40px;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

.fa-times::before {
  content: "\f00d";
  color: white;
  font-size: 40px;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

@media(max-width: 1000px) {
  .header__menu-toggler {
    display: block;
  }
}