.header__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
}


.fa-keyboard-o:before {
  content: "\f11c";
  color: #ffffff;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

.fa-book:before {
  content: "\f02d";
  color: #ffffff;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

.fa-star:before {
  content: "\f005";
  color: #ffffff;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

.fa-street-view:before {
  content: "\f21d";
  color: #ffffff;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}

.fa-envelope-open:before {
  content: "\f2b6";
  color: #ffffff;
  font: normal normal normal 25px/1 FontAwesome;
  margin-right: 5px;
}