.footer {
  display: flex;
  flex-direction: column;
  padding: 70px 70px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-style: normal;
  background: linear-gradient(#bccedc, #5c87bd);
}


@media(max-width: 440px) {
  .footer {
    padding: 70px 50px 20px;
  }
}