.elements__card {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  width: 450px;
}


.elements__card:hover {
  background-color: #ffffffaa;
}


.elements__card:hover .elements__title {
  transform: translateY(50%);
  opacity: 1;
  transition: all 1.5s;
}