.elements__card {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  width: 450px;
  cursor: pointer;
  transform: translateY(50px);
  opacity: 0;
}

.elements__card.show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}


@media screen and (max-width: 930px) {
  .elements__card {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .elements__card {
    width: 350px;
  }
}

@media screen and (max-width: 370px) {
  .elements__card {
    width: 300px;
  }
}