.skills__image {
  width: 200px;
  height: 200px;
}


@media screen and (max-width: 930px) {
  .skills__image {
    width: 150px;
    height: 150px;
  }

}


@media screen and (max-width: 630px) {
  .skills__image {
    width: 130px;
    height: 130px;
  }

}

@media screen and (max-width: 540px) {
  .skills__image {
    width: 100px;
    height: 100px;
  }

}


@media screen and (max-width: 430px) {
  .skills__image {
    width: 80px;
    height: 80px;
  }

}